.DS_Store
.idea/

# Ignore all
/*

!.gitignore

!project.json

# Don't ignore src
!src/
# Oh wait, ignore all src
src/*
# Don't ignore these!
!src/GravityTest/


# This whole rigmarole is necessary in order to iginore e.g.
# project/proj.android/AndroidManifest.xml
!project/
project/*

!project/proj.android/
project/proj.android/*

!project/proj.android/AndroidManifest.xml
